header{
	background-image: url(../../img/backgr.jpg);
	height: 800px;
	font-size: 1.2em;
}
a:hover{
	text-decoration: none;
}

.bigpixi-footer-social {
    margin-left: auto;
    padding-right: 20px;
    padding-top: 40px;
}

.bigpixi-footer-social__list-item {
    display: inline-block;
    margin-left: 16px;
}
.bigpixi-footer__icon-link {
    display: inline-block;
    -webkit-transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
}
.bigpixi-footer-social__icon {
    display: inline-block;
    height: 25px;
    width: 25px;
}
.bigpixi-footer-social__icon:hover {
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 1px solid #e2e2e2;
    padding: 2px;
    transition : .2s;
}

h1>hr{
	border-color: black;
	border-radius: 5px;

}
.discription{
	color: #625F5F;
	margin-top: 0px;
}

.thumbnail img {
    height:250px;
    width: 80%;
}
.two{
	font-size: 1.6em;
}

.aboutus{
	margin-top: 0px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0px;
    margin-right: 30%;
    margin-left: 30%;
}

@media (min-width: 768px) {
  body{margin-top: 0;}
  h1{
   	font-size: 1em;
   }
     p{
   	font-size: 0.7em;
   }
   h2{
   	font-size: 0.5em;
   }
   .two{
   	font-size: 0.6em;
   }
   .thumbnail img {
    height:350px;
    width: 50%;
	}
}

}
@media (min-width: 992px) {
   body{margin-top: 0;}
   h1{
   	font-size: 1.5em;
   }
   p{
   	font-size: 1em;
   }
   h2{
   	font-size: 0.7em;
   }
   .two{
   	font-size: 0.8em;
   }
}
@media (min-width: 1200px) {
   body{margin-top: 0;}
   h1{
   		font-size: 2em;
   }
   .two{
		font-size: 1.6em;
	}
	h2{
		font-size: 1em;
	}
	p{
		font-size: 1.5em;
	}
	.thumbnail img {
    height:250px;
    width: 80%;
}
}